.overall {
	/*background: grey;*/
}
h1 {
	font-size: 44px;
}
h2 {
	font-size: 32px;
	margin-bottom: 5px;
}
header {
	font-size: 50px;
	color: blue;
}
.mainContainer {
	max-width: 900px;
	width: 100%;
	margin: 25px auto;
	background: white;
}
.mainBox {
	display: grid;
	grid-template-columns: 300px 300px 300px;
	max-width: 900px;
	margin: 25px auto;
	border: 1px solid black;
}
.boxItem {
	border: 1px solid black;
	padding: 15px;
}


/*

grid-template-columns: 300px 300px 300px;
column tracks 
can also be percentages 
300px auto 300px 


*/